@charset "UTF-8";

@font-face {
    font-family: 'Times New Roman', Times, serif;
    src: url();
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
}

header{
    background-color: black;
    color: white;
    min-height: 150px;
    padding: 50px;
    
}

header > h1{
    font-size: 6em;
    text-align: center;
}

header > h2 {
    font-size: 1.5em;
    text-align: center;
}

header > h2 >a{
    text-decoration: none;
    color: white;
}

header > h2 > a:hover {
    text-decoration: underline;
    font-weight: bold;
}

